---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MenuItem from "../components/MenuItem.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import ScrollingBanner from "../components/Banner/ScrollingBanner.astro";

const artists = [
  {
    title: "Maria Miramar",
    subtitle: "Berlin",
    description: "Digital Creator",
    img: "https://images.unsplash.com/photo-1535207010348-71e47296838a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1885&q=80",
  },
  {
    title: "Ben Karl",
    subtitle: "Amsterdam",
    description: "Audio-Video Artist",
    img: "https://images.unsplash.com/photo-1507081323647-4d250478b919?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80",
  },
  {
    title: "Alana David",
    subtitle: "Berlin",
    description: "Installation Artist",
    img: "https://images.unsplash.com/photo-1517779548443-852211706367?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
  },
];
---

<Layout title="Radical landscapes: Art, identity and activism">
  <nav>
    <ul class="menu">
      <MenuItem href="/">Home</MenuItem>
      <MenuItem href="/about">About</MenuItem>
    </ul>
    <Button href="#">Get in touch</Button>
  </nav>
  <header>
    <Hero />
  </header>
  <main>
    <section class="section-container">
      <h2 class="section-header">Artists</h2>
      <div class="card-list">
        {
          artists.map((item) => (
            <Card
              title={item.title}
              subtitle={item.subtitle}
              description={item.description}
              img={item.img}
            />
          ))
        }
      </div>
    </section>
    <section class="section-container">
      <ScrollingBanner />
    </section>
  </main>
</Layout>

<style is:global>
  nav,
  header,
  section {
    margin: auto;
    padding: 1.5rem 3.5rem;
    max-width: 1280px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 2rem;
    padding: 0 3.5rem;
    gap: 1.5rem;
  }
  header {
    padding: 0;
  }
  .section-container {
    overflow: hidden;
  }
  .section-header {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: 0.4rem;
  }
  .menu {
    display: flex;
    padding: 0;
    gap: 1.5rem;
  }
  .card-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 5rem;
  }
  .card-list::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 768px) {
    nav > .button {
      padding: 0.5ch 0.5em;
    }
  }
  @media (max-width: 425px) {
    .card-list {
      flex-direction: column;
      gap: 2.5rem;
      overflow: visible;
    }
    nav {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
</style>
