---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MenuItem from "../components/MenuItem.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <nav>
    <ul class="menu">
      <MenuItem href="/">Home</MenuItem>
      <MenuItem href="/about">About</MenuItem>
    </ul>
    <Button href="/">Get in touch</Button>
  </nav>
  <header>
    <Hero />
  </header>
  <main>
    <section>
      <h3>Artists</h3>
      <div class="card-list">
        <Card
          title="Maria Miramar"
          subtitle="Berlin"
          description="Digital Creator"
          img="https://images.unsplash.com/photo-1664575602554-2087b04935a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        />
        <Card
          title="Maria Miramar"
          subtitle="Berlin"
          description="Digital Creator"
          img="https://images.unsplash.com/photo-1664575602554-2087b04935a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        />
        <Card
          title="Maria Miramar"
          subtitle="Berlin"
          description="Digital Creator"
          img="https://images.unsplash.com/photo-1664575602554-2087b04935a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        />
      </div>
    </section>
  </main>
</Layout>

<style>
  nav,
  header,
  main {
    margin: auto;
    padding: 1.5rem 3.5rem;
    max-width: 1280px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 2rem;
    padding: 0 3.5rem;
  }
  header {
    padding: 0;
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: 0.4rem;
  }
  .menu {
    display: flex;
    padding: 0;
    gap: 1.5rem;
  }
  .card-list {
    display: flex;
    gap: 1rem;
  }
  @media (max-width: 768px) {
    .card-list {
      flex-direction: column;
    }
  }
</style>
