---
import { Image } from "astro:assets";
import star from "@assets/star.png";
---

<div class="banner">
  <span>This is a rolling banner</span>
  <Image src={star} alt="Drawing of a star"/>
  <span>This is a rolling banner</span>
  <Image src={star} alt="Drawing of a star"/>
  <span>This is a rolling banner</span>
  <Image src={star} alt="Drawing of a star"/>
  <span>This is a rolling banner</span>
  <Image src={star} alt="Drawing of a star"/>
  
</div>

<style>
  .banner {
    padding: 1.75rem 0;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    animation: bannermove 20s linear infinite;
    text-align: center;
  }
  .banner span {
    display: block;
    min-width: 25rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
  }
  @keyframes bannermove {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
</style>
