---
import Banner from "./Banner.astro";
---

<div class="scrolling">
  <Banner />
  <Banner />
</div>
<style>
  .scrolling {
    display: flex;
    overflow: hidden;
    max-width: 1280px;
  }
</style>
